/* Mod - Página */

* {

    margin: 0px;
    border: 0px;
    padding: 0px;

}
#geral {

    border: 1px solid black;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

/* Topo */

#topo {
    background-color: #21272B;
    height: 120px;

}
.div2 {
    background-color: #EBEBEB;
}

/* Propaganda */

#propaganda {
    position: relative;
    bottom: 260px;
    left: 550px;
    background-color: rgba(26, 50, 67, 0.91);
    width: 378px;
    height: 179px;
    
}
#prop {
    transform: scale(1.5);
    position: relative;
    left: 120px;
    top: 30px;
}
#textotl {
    transform: scale(1.1);
    position: relative;
    left: 70px;
    top: 25px;
}
#tlf {
    color:  #C6B07F;
    position: relative;
    left: 119px;
    top: 8px;
}

/* Menu */ 
#menu {
    position: relative;
    bottom: 45px;
}
ul {
    
    display: flex;
    justify-content: flex-end;
}
li {
    list-style: none;
    padding-left: 7px;
    padding-right: 7px;
    border-right: 1px solid white;
}
li#CT {
    margin-right: 15px;
}
a {
    text-decoration: none;
    color: white;
}


/* Primeira Tabela */
#destino {
    display: flex;
    position: relative;
}
h3 {
    color: white;
    font-family: serif;
    font-style: italic;
    font-size: 29px;
    position: absolute;
    top: 3px;
    left: 45px;
}



.div4{
    background-color: #1BB4E8 ;
}
.div5{
    background-color: #FFFFFF;
}
.div6{
    background-color: #C6B07F;
}
.div7{
    background-color:rgba(226, 215, 215, 0.911);
}


/* Títulos */


h1 {font-size: 32px;
    color: #1BB4E8;
    font-family:'Times New Roman', Times, serif;    
    position: relative;
    left:  88px;
    bottom: 60px;
    display: inline;
}
h2 {font-size: 32px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    position: relative;
    left: 10px;
    bottom: 20px;
    display: inline;

}

h4 {
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

/* Paragrafos */

p {

    margin-top: 0px;
    margin-bottom: 0px;

}

/* Imagens */
#timagem {
    position: relative;
    top: 20px;
    left: 20px;
    width: 55px;
}
#barco0 {
    position: relative;
}
#barco2 {
    position: relative;
    top: 65px;
    width: 25px;
}